



@media (max-width: 767px) {
    .flex-containerNos {
      grid-template-columns: auto;
     
    }

    .flex-containerNos img {
      width: 80%;
      height: auto;
    }
  }
  
  
  @media (max-width: 767px) {
    .flex-containerCP {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    
       .bannerCP {
       
       margin-top: 5px;
       margin-left: 3px;
      
       
      } 
    }
  
 
  }
  
  @media (max-width: 767px) {
    .flex-containerCV {
      flex-direction: column;
      margin-top: 20px;

      .bannerCV {
        margin: 20px;
        margin-top: -10px;
        margin-left: 3px;
       } 
    }
   
  
  }
  @media (max-width: 767px) {
    .txt-contact {
      grid-template-columns: auto;
  
      }
    }
  
    @media (max-width:767px) { /* mas = hasta... */
      .Info_Contact {
        grid-template-columns: auto;
      
       }
    
    }
  