$btn-text-color: #df6364;
$btn-border-radius: 25px;

$btn-max-width: 200px;
$btn-text-align: center;
$btn-margin: 0 auto;
$btn-default-bg-color: white;
$btn-hover-bg-color: #F5EDEB;
$nav-link-color: #fff;
$body-bg-color: #ffffff;
$body-overflow-x: hidden;
$body-font-family: 'Montserrat', sans-serif;
$navbar-container-color: white;
$navbar-container-flex-direction: row-reverse;
$colortxt: grey;




$primary-color: #FB6363;
$secondary-color: #e06465;
$accent-color: #f4a196;

$gray-color: grey;
$primary-color: #FB6363;
$secondary-color: #A8784F;


$tittle-color: grey;
$txt-color: grey;
$gallery-height: 40%;
$gap-size: 10px;



$nosotros-bg-color: grey;
$nosotros-banner-height: 30px;
$nosotros-banner-margin: 20px;
$nosotros-banner-padding: 50px;

